@import "./components/Tabs/style.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body{
  font-family: 'Montserrat', sans-serif;
}

h2{
  font-size:18px;
  font-weight: 600;
}

h4{
  font-size:18px;
  font-weight: 400;
}

h5{
  font-size: 16px;;
}